.block_faq_list .faq-wrapper p:last-child,
.block_faq_list .faq-wrapper ul:last-child,
.block_faq_list .faq-wrapper ol:last-child {
    margin-bottom: 0;
}

/* Accordion view mode styles. */
.block_faq_list .accordion-item {
    margin-bottom: 1rem;
}

.block_faq_list .accordion-item:last-child {
    margin-bottom: 0;
}

.block_faq_list .accordion-header {
    position: relative;
    font-size: 1rem;
}

.block_faq_list .accordion-header button .fa {
    position: absolute;
    top: calc(50% - .5em);
    right: 1rem;
    transition: transform ease .3s;
}

.block_faq_list .accordion-header button:not(.collapsed) .fa {
    transform: rotate(180deg);
}

.block_faq_list .accordion-header button {
    display: block;
    background: none;
    padding: 0;
    border: 0;
}

/* Slider view mode styles. */
.block_faq_list .faq-wrapper .carousel-indicators li {
    background-color: #000;
}

body#page-blocks-faq_list-view-faq_list_items {
    input.action-icon {
        max-height: 1rem;
        max-width: 1rem;
        filter: invert(30%) sepia(64%) saturate(1621%) hue-rotate(186deg) brightness(96%) contrast(94%);
    }

    input.action-icon:hover {
        filter: invert(20%) sepia(93%) saturate(900%) hue-rotate(177deg) brightness(96%) contrast(97%);
    }
}
